* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  position: relative;
  background-color: #f9f9f9;
  padding-left: 260px;
  transition: padding-left 0.3s ease;
  background-color: black;
}

body.sidebar-collapsed .app-container {
  padding-left: 80px;
}

.main-section {
  flex: 1;
  overflow: hidden;
  position: relative;
}

.main-section > * {
  max-width: 768px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

.open-sidebar-button {
  position: absolute;
  top: 0;
  left: 0;
  height: 3.5rem;
  width: 3.5rem;
  z-index: 10;
  background: none;
  border: none;
  cursor: pointer;
  color: #666;
  transition: color 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.open-sidebar-button:hover {
  color: #333;
} 