OPENAI_API_KEY=your_openai_api_key
TAVILY_API_KEY=your_tavily_api_key
FIREBASE_CREDENTIALS=path_to_your_firebase_credentials.json
CHROMA_DB_PATH=./data/chroma
FIREBASE_ADMIN_SDK_KEY=your_firebase_admin_sdk_key
FIREBASE_WEB_API_KEY=your_firebase_web_api_key
POPPLER_PATH=path_to_poppler
CHROMA_DB_URL=your_chroma_db_url
CHROMA_DB_ACCESS_CLIENT_ID=your_chroma_db_client_id
CHROMA_DB_ACCESS_SECRET=your_chroma_db_access_secret
WHOOP_CLIENT_ID=your_whoop_client_id
WHOOP_CLIENT_SECRET=your_whoop_client_secret 