fastapi[standard]
uvicorn[standard]
firebase-admin[standard]
pydantic-settings[standard]
pydantic[standard]
langchain[standard]
langgraph[standard]
tavily-python[standard]
dotenv[standard]
openai[standard]