fastapi[standard]
uvicorn[standard]
firebase-admin[standard]
pydantic-settings[standard]
pydantic[standard]
langchain[standard]
langgraph[standard]
tavily-python[standard]
dotenv[standard]
openai[standard]
pyjwt[standard]
langchain-openai[standard]  
pytesseract[standard]
pdf2image[standard]
pdfplumber[standard]
pillow[standard]
