*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.aab
*.log
*.hprof
*.keystore
*.jks
*.der
*.p12
*.pk8
*.pem
*.pem
*.p12
*.der
*.jks
*.keystore
*.hprof
*.log
*.apk
*.aab
.cxx
.externalNativeBuild
/captures
/build
.DS_Store
/.idea
/local.properties
.gradle
*.iml 