.header {
  height: 3.5rem;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header h2 {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 500;
}

.header-content {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  color: #333;
} 