.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff;
  }
  
  .card {
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 8px;
    border: 1px solid #ccc;
    text-align: center;
    width: 348px;
    box-shadow: none;
  }
  
  .title {
    font-size: 24px;
    margin-bottom: 0.5rem;
    text-align: left;
  }
  
  .welcome-message {
    font-size: 14px;
    color: #666;
    margin-bottom: 1.5rem;
    text-align: left;
  }
  
  .error {
    color: red;
    font-size: 14px;
    margin-top: 1rem;
  }
  
  .input {
    width: 100%;
    padding: 10px;
    margin-bottom: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }

  .password-container {
    position: relative;
    width: 100%;
    margin-bottom: 0.5rem;
  }

  .password-input {
    width: 100%;
    padding: 10px;
    padding-right: 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }

  .toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    color: #666;
    padding: 0;
    font-size: 14px;
    outline: none;
  }

  .toggle-password:hover {
    color: #333;
    background: none;
  }
  
  .button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
  }
  
  .toggleText {
    margin-top: 1rem;
    font-size: 14px;
    text-align: center;
  }
  
  .link {
    color: #007bff;
    cursor: pointer;
    text-decoration: none;
  }

  .link:hover {
    text-decoration: underline;
  }
  